<!DOCTYPE html>
<html lang="es">
    <%- include("../_header.ejs", {title: "Nuevo Evento"}) %>
<body>
    <%- include("./_form.ejs", {action: `/animals/${req.params.animal_id}/events`}) %>
</body>
</html>