<!DOCTYPE html>
<html lang="es">
    <%- include("../_header.ejs", {title: "Nuevo Evento"}) %>
<body>
    <% const { animal_id } = req?.params; %>
    <%- include("./_form.ejs", {action: `/animals/${animal_id}/events`}) %>
</body>
</html>