Municipio
<select name="rescued[address][municipality]" required>
  {{#if includes_all_field}}
    <option value="">Todas</option>
  {{/if}}
  {{#constant_array "sinaloa_municipalities.json"}}
    <option value={{this}}>{{this}}</option>
  {{/constant_array}}
</select>
<br />

Código Postal
<input
  type="text"
  name="rescued[address][zipCode]"
  id="zipCode"
  oninput="this.setCustomValidity('')"
  autocomplete="off"
  required
/>
<button type="button" id="ok" onclick="fetchNeighborhoods()">Ok</button>
<br />

Colonia
<select name="rescued[address][neighborhood]" id="neighborhood" required>
  {{#if includes_all_field}}
    <option value="">Todas</option>
  {{/if}}
</select>