
Código Postal
<input
  type="text"
  name="rescued[address][zipCode]"
  id="zipCode"
  oninput="this.setCustomValidity('')"
  autocomplete="off"
  required
/>
<button type="button" id="ok" onclick="fetchNeighborhoods()">Ok</button>
<br>

{{#dropdown "Municipio" false}}<select name="rescued[address][municipality]" required>{{/dropdown}}
<br>

{{#dropdown "Colonia" false}}<select name="rescued[address][neighborhood]" id="neighborhood" required>
{{/dropdown}}