Edad
<select name="years">
  {{#if includes_all_field}}
    <option value="">Todas</option>
  {{/if}}
  {{#times 20}}
    <option value="{{this}}">{{this}}</option>
  {{/times}}
</select>
años
<select name="months">
  {{#if includes_all_field}}
    <option value="">Todos</option>
  {{/if}}
  {{#times 12}}
    <option value="{{this}}">{{this}}</option>
  {{/times}}
</select>
meses