Color
<select name="color">
  {{#if includes_all_field}}
    <option value="">Todos</option>
  {{/if}}
  <option value="brown">Café</option>
  <option value="black">Negro</option>
  <option value="white">Blanco</option>
  <option value="other">Otro</option>
</select>