Organization
<select name="organization">
  {{#if includes_all_field}}
    <option value="">All</option>
  {{/if}}
  <option value="laika">laika</option>
  <option value="other">other</option>
</select>