Race
<select name="race">
  {{#if includes_all_field}}
    <option value="">All</option>
  {{/if}}
  <option value="chihuahuan">chihuahuan</option>
  <option value="husky">husky</option>
  <option value="creole">creole</option>
  <option value="other">other</option>
</select>