Status
<select name="status">
  {{#if includes_all_field}}
    <option value="">All</option>
  {{/if}}
  <option value="active">active</option>
  <option value="adopted">adopted</option>
  <option value="dead">dead</option>
</select>