Estatus
<select name="status">
  {{#if includes_all_field}}
    <option value="">Todos</option>
  {{/if}}
  <option value="active">Activo</option>
  <option value="adopted">Adoptado</option>
  <option value="dead">Fallecido</option>
</select>