Type
<select name="type">
  {{#if includes_all_field}}
    <option value="">All</option>
  {{/if}}
  <option value="dog">dog</option>
  <option value="cat">cat</option>
  <option value="other">other</option>
</select>