<!DOCTYPE html>
<html lang="es">
    <%- include("../_header.ejs", {title: "Editar Hogar"}) %>
<body>
    <% const { animal_id, id } = req?.params; %>
    <%- include("./_form.ejs", {action: `/animals/${animal_id}/homes/${id}/update`}) %>
    <script src="/javascripts/address_script.js"></script>
</body>
</html>