<!DOCTYPE html>
<html lang="es">
    <%- include("../_header.ejs") %>
<body>
<div class="content">
    <h1>Editar Perfil</h1>
    <%- include("../_animal_navbar.ejs") %>
    <%- include("./_form.ejs", {action: `/animals/${req.params.id}/update`}) %>
</div>
</body>
</html>