<!DOCTYPE html>
<html lang="es">
    <%- include("../_header.ejs", {title: "Nuevo Animal"}) %>
<body>
    <%- include("./_form.ejs", {action: "/animals"}) %>
    <%- include("../_footer.ejs") %>
</body>
</html>