<!DOCTYPE html>
<html lang="es">
    <%- include("../_header.ejs", {navbar: false}) %>
<body>
<div class="content">
    <h1>Iniciar Sesión</h1>

    <form class="vertical-spaced" method="post">
        <div>
            <label for="password">Frase Secreta</label>
            <input type="password" name="passphrase" id="passphrase" required>
        </div>
        <input class="button" type="submit" value="Entrar">
    </form>
</div>
</body>
</html>