<!DOCTYPE html>
<html lang="es">
    <%- include("../_header.ejs", {title: "Iniciar Sesión", navbar: false}) %>
<body>
    <main>

        <form method="post">
            <div class="card">
                <div class="card__Container">
                    <label for="password">Frase Secreta</label><br>
                    <input type="password" name="passphrase" id="passphrase" required><br>
                </div>
            </div>
            <button type="submit">
                <span>Entrar</span>
            </button>
        </form>
 

    </main>
</body>
    <%- include("../_footer.ejs") %>
</html>