<!DOCTYPE html>
<html lang="es">
    <%- include("../_header.ejs", {title: "Iniciar Sesión", navbar: false}) %>
<body>
    <main>
        <form method="post">
            <label for="password">Frase Secreta</label><br>
            <input type="password" name="passphrase" id="passphrase" required><br>
            <button type="submit">Entrar</button>
        </form>
    </main>
</body>
</html>