<!DOCTYPE html>
<html lang="es">
    <%- include("../_header.ejs", {title: "Nueva Adopción"}) %>
<body>
    <% const { animal_id } = req?.params; %>
    <%- include("./_form.ejs", {action: `/animals/${animal_id}/adoptions`}) %>
    <script src="/javascripts/address_script.js"></script>
</body>
</html>