<% const {formName, from, to} = locals; %>

<div class="input-container">
    <label for="from">Desde</label>
    <input type="date" name="<%= formName %>[$gte]" id="from" 
        <% if(from) { %> value="<%= from.toDateInputValue() %>" <% } %> />
</div>
<div class="input-container">
    <label for="to">Hasta</label>
    <input type="date" name="<%= formName %>[$lte]" id="to"
        <% if(to) { %> value="<%= to.toDateInputValue() %>" <% } %> />
</div>