<% 

const {formName, from, to} = locals; 

%>

<p>
    <label for="from">Desde</label><br>
    <input type="date" name="<%= formName %>[$gte]" id="from" 
    <% if(from) { %>
        value="<%= from.toDateInputValue() %>"
    <% } %>
    />
</p>
<p>
    <label for="to">Hasta</label><br>
    <input type="date" name="<%= formName %>[$lte]" id="to"
    <% if(to) { %>
        value="<%= to.toDateInputValue() %>"
    <% } %>
    />
</p>