<form method="post">
  <h2>General Info</h2>
  Names
  <input type="text" name="names[]" required>
  <input type="text" name="names[]" >
  <br>
  Add Photos
  <input type="file" multiple>
  <br>
  {{> sex}}
  <br>
  {{> type}}
  <br>
  {{> race}}
  <br>
  {{> color}}
  <br>
  {{> status}}
  <br>
  Particular Signs
  <br>
  <textarea name="particularSigns"></textarea>
  <br>

  <h2>Rescue Info</h2>
  {{> age}}
  <br>
  Date
  <input type="date" name="rescued[date]" required>
  <br>
  Address
  <input type="text" name="rescued[address]" required>
  <br>
  {{> user_searchbar}}

  <br>
  <br>
  <input type="submit" />
</form>