<form method="post">
  Names
  <input type="text" name="names[]" />
  <input type="text" name="names[]" />

  <button type="button">+</button>
  <button type="button">-</button>
  <br />

  Type
  <input type="radio" name="type" value="dog" checked />
  <label>dog</label>

  <input type="radio" name="type" value="cat" />
  <label>cat</label>

  <input type="radio" name="type" value="other" />
  <label>other</label>
  <br />

  Rescued Date
  <input type="date" name="rescuedDate" />
  <br />

  Birth Date
  <input type="date" name="birthDate" />
  <br />

  Photos
  <img
    src="https://pngimg.com/uploads/dog/dog_PNG50348.png"
    width="150"
    style="border: 1px solid black"
  />
  <button type="button">+</button>
  <button type="button">-</button>

  <br />

  Colors
  <input type="checkbox" name="colors[]" value="brown" checked />
  <label>brown</label>

  <input type="checkbox" name="colors[]" value="black" />
  <label>black</label>

  <input type="checkbox" name="colors[]" value="white" />
  <label>white</label>

  <input type="checkbox" name="colors[]" value="orange" />
  <label>orange</label>

  <br />

  Sex
  <input type="radio" name="sex" value="male" checked />
  <label>male</label>

  <input type="radio" name="sex" value="female" />
  <label>female</label>
  <br />

  <br />
  <input type="submit" />
</form>