<form method="post">
  <h2>Información General</h2>
  Nombres
  <input type="text" name="names[]" required>
  <input type="text" name="names[]" >
  <br>
  Añadir múltiples fotos
  <input type="file" multiple>
  <br>
  {{> sex}}
  <br>
  {{> type}}
  <br>
  {{> status}}
  <br>
  Señas Particulares
  <br>
  <textarea name="particularSigns"></textarea>
  <br>

  <h2>Información de Rescate</h2>
  {{> age}}
  <br>
  Fecha
  <input type="date" name="rescued[date]" required>
  <br>
  Rescatistas
  <input type="text" name="rescued[by]" required>
  <br>
  {{> organization}}
  <br>
  {{> address }}
  <br>
  Notas
  <br>
  <textarea name="rescued[notes]"></textarea>
  
  <br>
  <br>
  <input type="submit" value="Enviar">
</form>