<form method="post">
  Full Name
  <input type="text" name="fullname" required >
  <br>

  Phone
  <input type="tel" name="phone" required >
  <br>
  
  Address
  <input type="text" name="address" >
  <br>

  {{> organization }}
  <br>

  <input type="submit" >
</form>