:root {
    --bg:#fff;
    --accent-bg:#f5f7ff;
    --text:#585858;
    --text-light:#585858;
    --border:#d8dae1;
    --accent:black;
    --code:#6ea6a5;
    --preformatted:#8a1b70;
    --marked:red;
    --disabled:#efefef;
}

h1 {
    color: #8a1b70;
}

h3 {
    color: #6ea6a5;
}

img {
    opacity: 1;
}