@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary: #6ba6a4;
  --secondary: #871c71;
  --background: white;
  --backgorund-contrast: #191713;
  --danger: #b91c1c;
  --onPrimary: white;
  --onSecondary: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

.main-navbar {
  display: flex;
  align-items: center;
  z-index: 1;

  top: 0;
  height: 3.5rem;
  position: sticky;

  background-color: var(--primary);
  padding: 0.5rem 1rem;
  gap: 1rem;
}

.main-navbar > a {
  color: var(--onPrimary);
}

.main-navbar > img {
  width: auto;
  height: 100%;
}

.navbar {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid var(--secondary);

  flex-wrap: wrap;
}

.content {
  padding: 1rem;
  max-width: 900px;
  margin: 0 auto;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 1rem;
}

.image-grid img {
  width: 100%;
  height: auto;
}

.sm-spacer {
  padding: 0.4rem;
}

.input-container > label {
  display: block;
  font-weight: bold;
}

.vertical-spaced {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.button-container {
  display: flex;
  gap: 1rem;
  width: fit-content;
  margin-left: auto;
}

.spacer {
  padding: 1rem;
}

.link {
  color: var(--secondary);
  text-decoration: none;
}

.link-primary {
  color: var(--primary);
}

.ml-auto {
  margin-left: auto;
}

.button {
  text-decoration: none;
  background-color: var(--primary);
  color: var(--onPrimary);

  padding: 0.3rem 0.6rem;
  border-radius: 0.6rem;
}

.button-secondary {
  background-color: var(--secondary);
  color: var(--onSecondary);
}

.button:hover {
  transition: 2000ms;
  opacity: 0.6;
}

h1 {
  color: var(--secondary);
}

input[type="submit"],
.input-container > .button {
  border: none;
}

input[type="submit"]:hover,
.input-container > .button:hover {
  cursor: pointer;
}

table,
th,
td {
  border: none;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem 1rem;
  text-align: center;
}

.date-table-cell {
  white-space: nowrap;
}

details:hover {
  cursor: pointer;
}

summary {
  font-weight: bold;
}

.date-title {
  color: var(--secondary);
}

.image-grid-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.next-page-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}
