:root {
    --bg:#fff;
    --accent-bg:#f5f7ff;
    --text:#585858;
    --text-light:#585858;
    --border:#d8dae1;
    --accent:black;
    --code: #6ea6a5;
    --preformatted:#8a1b70;
    --marked:red;
    --disabled:#8a1b70;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    font-size: 70px;
    color: #8a1b70;
    text-shadow: 2px 2px 4px #fff;
    text-align: center;
}

h2 {
    color: #6ea6a5;
    text-align: center;
}

body{
    background-image: url("/images/background.webp");
}

footer{
    text-align: center;
}

/*                                   Buttons                                  */
button {
    height: 30px;
    padding: 15px 25px;
    border-radius: 15px;
    color: #212121;
    background: #e8e8e8;
    font-weight: 1000;
    font-size: 17px;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #8a1b70;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}

button a:hover{
    color: #e8e8e8 !important; 
}

button span:hover{
    color: #e8e8e8 !important; 
}

button:hover::before {
    width: 100%;
}
/*                                   Text inside the buttons                                  */

button a {
    text-decoration: none;
    display: block;
    position: relative !important;
    bottom:9px !important;
}

span{
    position:relative;
    bottom:9px;
}

label{
    color: black;
    font-weight: 600;
}

a{
    text-decoration: none;
    font-weight: bold;
}

/*                                   Tables                                  */

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px srgba(0, 0, 0, 0.15) !important;
    border-radius: 15px;
}

th{
    background-color: #6ea6a5;
    text-align: center !important;
    width: 500px !important;
    color: white !important;
}

th,td{
    padding: 12px 15px;
}

tr {
    border-bottom: 1px solid #dddddd;
    background-color: #f3f3f3;
}

td:last-child{
    text-align: center;
}

/*                                   Card effect                                  */

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px; 
    background-color: #fff;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.card__Container {
    padding: 2px 16px;
}

/*separator between cards*/
#blankspace{
    width: 100px;
    height: 100px;
}

@media print{

    /*making background effects true*/
    body {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    code{
        color: black;
    }

    a{
        display: none !important;
    }

    h1{
        text-align: center !important;
        font: 3em serif;
    }

    .delete, button{
        display: none;
    }

    /*deleting card effect*/
    .card{
        box-shadow: none !important;
    }

    /*                                   grid of images                                  */

    .image-container{
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
        position: relative;
        bottom: 200px;
    }

    .image-container__r{
        margin-top: 4px;
        vertical-align: middle;
        width: 100%;
    }
    
    .image-container__r img{
        width: 209px !important;
        height:200px !important;
        margin-top: 4px;
        vertical-align: middle;
    }

    /*split half of the text to the right*/
    #split{
        position: relative;
        bottom: 288px;
        left: 480px;
    }

    /*fixing the bug when there is a lot of text in particular signs*/
    #particularSigns{
        position:relative;
        bottom: 285px;
    }

    #animal-FontSize{
        font-size: 1.5em !important;
    }

    /*fixing the bug to make the footer appear in the animals sheet*/
    #animalsFooter{
        position: relative;
        bottom: 100px !important;
    }

    #animalsTitle{
        font-size: 20px;
    }

}