<!DOCTYPE html>
<html lang="es">
    <%- include("../_header.ejs", {title: "Editar Rescate"}) %>
<body>
    <div class="card">
        <div class="card__Container">
            <%- include("./_form.ejs", {action: `/animals/${req.params.animal_id}/rescue/update`}) %>
            <script src="/javascripts/address_script.js"></script>
        </div>
    </div>
    <%- include("../_footer.ejs") %>
</body>
</html>