<!DOCTYPE html>
<html lang="es">
    <%- include("../_header.ejs", {title: "Rescate"}) %>
<body>
    <h1>Editar rescate</h1>

    <%- include("./_form.ejs", {action: "../update"}) %>
    <script src="/javascripts/script.js"></script>
</body>
</html>