<!DOCTYPE html>
<html lang="es">
    <%- include("../_header.ejs", {title: "Nuevo Rescate"}) %>
<body>
    <% const {req} = locals %> 
    
    <%- include("./_form.ejs", {action: `/animals/${req.params.animal_id}/rescue`}) %>
    <script src="/javascripts/script.js"></script>
</body>
</html>