<form class="vertical-spaced" action="<%= action %>" method="post">

    <%- include("../_date_field.ejs", {model: appointment, pathName: "date"}) %>
    <%- include("../_text_area.ejs", {model: appointment, pathName: "description"}) %>
    <input class="button" type="submit" value="Enviar">

</form>