<!DOCTYPE html>
<html lang="es">
    <%- include("../_header.ejs", {title: "Nueva Cita"}) %>
<body>
    <div class="card">
        <div class="card__Container">
            <%- include("./_form.ejs", {action: `/animals/${req.params.animal_id}/appointments`}) %>
        </div>
    </div>
    <%- include("../_footer.ejs") %>
</body>
</html>